.user-page{
    padding: 26px;
    width: 100%;
}
.user-card img {
    width: 50px;
}
.user-page-body {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.user-page-body p:nth-child(1){
    color: #0074CC;
    font-size: 15px;
}
.user-page-body p:nth-child(2){
    color: gray;
    font-size: 12px;
}
.user-card{
    flex-grow: 1fr;
    min-width: 250px;
    display: flex;
    gap: 10px;
}
.user-page-header{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.user-page-header h4{
    color: #232629;
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 24px;
}
.user-page-header form input{
    max-width: 250px;
    padding: 8px 10px 8px 32px;
    font-size: 13px;
    border: 0.5px solid #a8a8a8;
    outline: none;
    border-radius: 8px;
}
.user-page-header form input:focus{
    outline: 4px solid rgb(216, 243, 252);
    border: 0.5px solid rgb(63, 146, 173);
}
.user-page-header form{
    margin-right: 10px;
    flex-grow: 1;
    position: relative;
}
.search-icon {
    position: absolute;
    top:7px;
    left:10px;
}
.user-page-header > div{
    display: flex;
    justify-content: space-between;
}
.user-page-header > div > div{
    display: flex;
    align-items: stretch;
    color: #3B4045;
    font-size: 13px;
    border: 0.5px solid #a8a8a8;
    border-radius: 8px;
}
.user-page-header > div > div p {
    border-right: 0.5px solid #a8a8a8;
    padding: 8px;
}
.user-page-header > div > div p:nth-child(5){
    border-right:none;
}