.side-navbar{
    width: 164px;
    height: 100vh;
    position:sticky;
    top: 70px;
    border-right: 0.5px solid #a8a8a8;
    color: #6A737C;
    font-size: 11px;
}
.side-navbar a {
    text-decoration: none;
    font-size: 13px;
    color: #6A737C;
    padding: 8px 6px 8px 8px;
}
.side-navbar a.active {
    background-color: #dbdbdb;
    border-right: 3px solid salmon;
    font-weight: 500;
}
.side-navbar a:hover{
    color: #1d1d1d;
}

.side-navbar>h4{
    padding: 8px;
    margin-top: 10px;
}
.side-nav-headings{
    font-weight: 400;
    font-size: 11px;
}
.side-nav-routes span {
    vertical-align: middle;
    margin-right: 5px;
}
.side-nav-teams strong{
    color: #2F3337;
    font-size: 13px;
}
.side-nav-teams>p:nth-child(4){
    text-align: center;
}
.side-nav-teams>button{
    width: 100%;
    padding: 6.6px;
    outline: none;
    background-color: #F48225;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    font-size: 11px;
}
.side-nav-routes{
    display: flex;
    flex-direction: column;
}
.side-nav-teams{
    padding: 12px;
    border: 0.5px solid #a8a8a8;
    border-collapse:collapse;
    border-radius: 3px 0 0 3px;
    border-right: none;
}