.main-container{
    max-width: 1300px;
    margin: 80px auto 10px auto;
    display: flex;
}
.main-body{
    display: flex;
}
.main-body-container{
    flex-grow: 1;
    padding: 16px;
}
.main-body-container h1,.main-body-container h3 {
    color: coral;
    font-weight: 400;
}
.main-body-container p,
.main-body-container ul li{
    font-size: 13px;
    margin-bottom: 10px;
    list-style-position:inside;
    list-style-type:circle;
}
.main-body-container > div:nth-child(3),
.main-body-container > div:nth-child(4) {
    border-radius: 5px;
    padding: 16px;
    margin: 20px 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.main-body-container > div:nth-child(4) >h3{
    margin-bottom: 10px;
}
.main-body-container > div:nth-child(4) > h4{
    color: rgb(209, 0, 0);
    font-size: 13px;
    margin-top: 30px;
    text-align: center;
}